.bd-container{
    
    direction : rtl;
}

.cell.docutils.container {
    direction: ltr; /* Override the direction for the code block container */
}

.cell.docutils.container * {
    direction: ltr; /* Ensure all child elements inherit the ltr direction */
}

/* Optional: Ensure text alignment is left */
.cell.docutils.container,
.cell.docutils.container * {
    text-align: left;
}

.header-article-items__end{
	direction : ltr;
}

.bd-footer-content {
    direction: ltr; /* Override the direction to left-to-right */
}

.bd-footer-content * {
    direction: ltr; /* Ensure all child elements inherit the ltr direction */
}

#pst-primary-sidebar-modal {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  overflow-y: auto;
  transform: translateX(100%); /* Start off-screen for RTL */
  transition: transform 0.3s ease-in-out;
}

#pst-primary-sidebar-modal.open {
  display: block; /* Show the dialog */
  transform: translateX(0); /* Slide in for RTL */
}

